{% include 'header.html' %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper" style="padding-right: 10%; padding-left:10%">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Model</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                Pohon Keputusan
                </h3>
            </div>
            <!-- /.card-header -->
            <div style="padding: 10px;">
                <img class="img-fluid pad" src="{{url_for('static', filename = 'dist/img/model.png')}}"  alt="Pohon Keputusan" width="100%">
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                        Confussion Matrix
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div style="padding: 10px;">
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th class="text-center">True Positive(0)</th>
                                <th class="text-center">False Negative(1)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><b> False Positive(0)</b></td>
                                <td class="text-center">17</td>
                                <td class="text-center">0</td>
                              </tr>
                              <tr>
                                <td><b> True Negative(1) </b></td>
                                <td class="text-center">1</td>
                                <td class="text-center">12</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-8">
                  <div class="card card-default">
                      <div class="card-header">
                          <h3 class="card-title">
                          Akurasi
                          </h3>
                      </div>
                      <!-- /.card-header -->
                      <div style="padding: 10px;">
                          <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th class="text-center">Precision</th>
                                  <th class="text-center">Recall</th>
                                  <th class="text-center">f1-score</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><b> Tidak Menderita(0)</b></td>
                                  <td class="text-center">0.94</td>
                                  <td class="text-center">1.00</td>
                                  <td class="text-center">0.97</td>
                                </tr>
                                <tr>
                                  <td><b> Menderita(1) </b></td>
                                  <td class="text-center">1.00</td>
                                  <td class="text-center">0.92</td>
                                  <td class="text-center">0.96</td>
                                </tr>
                                <tr>
                                  <td><b> Akurasi </b></td>
                                  <td colspan="3" class="text-center">0.9666667</td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                      <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                  </div>
            </div>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}